html {
  font-size: 62.5%;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.6rem;
  background-color: #333333;
}
h1 {
  font-size: larger;
  color: orange;
}
h2 {
  font-size: large;
  color: orange;
  margin-bottom: 2rem;
}
nav {
  background-color: black;
}
/* OLETUKSENA NAVIGOINTIPALKKI FLEXAA SIVUTTAISSUUNNASSA. */
.main-nav ul {
  display: flex;
  flex-direction: row;
}
/* NAVIGOINTIPALKIN PAINIKKEET (LAPSET) ASETETAAN OLETUKSENA TÄYTTÄMÄÄN LEVEYSSUUNNASSA BODYN SISÄLLÄ OLEVA TILA. MÄÄRITETÄÄN NAVIGOINTIPALKIN ULKOASU */
.main-nav ul > * {
  flex-grow: 1;
  color: white;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}
/* PORTFOLIO PAINIKE ALKAA FLEXAAMAAN 33 % BODYN SISÄLLÄ OLEVASTA TILASTA JA TEKSTI SIJOITETAAN VASEMMALLE */
.portfolio {
  flex-basis: 33%;
  text-align: left;
}
.box1 {
  background-color: rgba(0, 0, 0, 0.7);
  margin: auto;
  padding: 5rem;
  flex-grow: 1;
}
ol li {
  color: #bca795;
  font-style: italic;
}
ol li::marker {
  color: white;
}
.background-image {
  background-image: url(https://images.unsplash.com/photo-1489033386374-692175556d7e?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8Y2l0eSxuaWdodHx8fHx8fDE2ODM1NDY1MjQ&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600);
  display: flex;
  max-width: 100%;
  margin: 5rem;
  padding: 10%;
}
.box2 {
  background-color: #f5f5f5;
  margin-right: 5rem;
  margin-left: 5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
  padding-left: 1rem;
}
h3 {
  font-size: larger;
  background-color: #f5f5f5;
  margin-right: 5rem;
  margin-left: 5rem;
  margin-top: -5rem;
  padding: 1rem;
}
h4 {
  font-size: large;
  font-weight: 700;
}
.seemore {
  font-style: italic;
  color: orange;
  margin-top: 1rem;
}
.boxbox {
  display: flex;
  flex-basis: 33%;
  flex-wrap: wrap;
  flex-grow: 1;
  display: flex;
  background-color: white;
  border: solid lightgray 0.1rem;
  border-radius: 10px;
  padding: 1rem;
  margin-right: 1rem;
}
.boxbox-image {
  max-width: 100%;
}
.box3headers {
  border-top: solid 1px aliceblue;
  margin-left: 5rem;
  margin-right: 5rem;
  padding-top: 2rem;
}
.box3 {
  display: flex;
  align-items: flex-start;
  color: white;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 2rem;
}

.box3 .white-text {
  flex: 1;
  margin-right: 20px;
}

.box3 .box3images {
  flex-basis: 20%;
}

.box3 .box3images img {
  width: 100%;
  height: auto;
}
